# Interdit Apache de mettre un .html ou .php au bout d'un \index
Options -Multiviews

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Empêche Apache d'accéder à un dossier (-d) ou fichier (-f) existant sur le serveur
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# controller/view -> index.php?p=controller.view
RewriteRule home/([a-zA-Z]*) index.php?p=home.$1 [L]



# Contact
RewriteRule ^(contact.php)$ index.php?p=home.contact [L]



#--------------------------------------------------
# dossier image : picture/dossier/nomImage
#--------------------------------------------------
RewriteRule picture/([a-zA-Z\-0-9]+)/([a-zA-Z\-0-9]+).(jpg|png) public/img/$1/$2.$3 [L]


#--------------------------------------------------
# dossier scripts : scripts/js ou css/nomScript ou typo
#--------------------------------------------------
RewriteRule scripts/(js|css|typo)/([a-zA-Z\-0-9=\.]+).(js|css) public/$1/$2.$3 [L]